aenum==3.1.15 ; python_version >= "3.11" and python_version < "4.0"
aiofiles==23.2.1 ; python_version >= "3.11" and python_version < "4.0"
aiohappyeyeballs==2.3.5 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.10.1 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
amqp==5.2.0 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anthropic==0.17.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.3 ; python_version >= "3.11" and python_full_version < "3.11.3"
attrs==24.2.0 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.12.3 ; python_version >= "3.11" and python_version < "4.0"
billiard==4.2.0 ; python_version >= "3.11" and python_version < "4.0"
blinker==1.8.2 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.34.155 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.34.155 ; python_version >= "3.11" and python_version < "4.0"
cachetools==5.4.0 ; python_version >= "3.11" and python_version < "4.0"
celery[redis]==5.4.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "4.0"
clarifai-grpc==10.7.0 ; python_version >= "3.11" and python_version < "4.0"
clarifai==10.7.0 ; python_version >= "3.11" and python_version < "4.0"
click-didyoumean==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
cohere==5.6.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
contextlib2==21.6.0 ; python_version >= "3.11" and python_version < "4.0"
dataclasses-json==0.6.7 ; python_version >= "3.11" and python_version < "4.0"
deepgram-sdk==3.4.0 ; python_version >= "3.11" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.112.0 ; python_version >= "3.11" and python_version < "4.0"
fastavro==1.9.5 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.15.4 ; python_version >= "3.11" and python_version < "4.0"
flask==3.0.3 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2024.6.1 ; python_version >= "3.11" and python_version < "4.0"
google-ai-generativelanguage==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
google-api-core==2.19.1 ; python_version >= "3.11" and python_version < "4.0"
google-api-core[grpc]==2.19.1 ; python_version >= "3.11" and python_version < "4.0"
google-auth==2.33.0 ; python_version >= "3.11" and python_version < "4.0"
google-generativeai==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
googleapis-common-protos==1.63.2 ; python_version >= "3.11" and python_version < "4.0"
groq==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
grpcio-status==1.62.3 ; python_version >= "3.11" and python_version < "4.0"
grpcio==1.65.4 ; python_version >= "3.11" and python_version < "4.0"
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.5 ; python_version >= "3.11" and python_version < "4.0"
httpx-sse==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==0.24.5 ; python_version >= "3.11" and python_version < "4.0"
idna==3.7 ; python_version >= "3.11" and python_version < "4.0"
inquirerpy==0.3.4 ; python_version >= "3.11" and python_version < "4.0"
itsdangerous==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "4.0"
jiter==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
kombu==5.4.0 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "4.0"
marshmallow==3.21.3 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
mouseinfo==0.1.3 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.5 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
ollama==0.2.1 ; python_version >= "3.11" and python_version < "4.0"
openai==1.40.0 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.11" and python_version < "4.0"
parameterized==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
pfzy==0.3.4 ; python_version >= "3.11" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.11" and python_version < "4.0"
prompt-toolkit==3.0.47 ; python_version >= "3.11" and python_version < "4.0"
proto-plus==1.24.0 ; python_version >= "3.11" and python_version < "4.0"
protobuf==4.25.4 ; python_version >= "3.11" and python_version < "4.0"
pyasn1-modules==0.4.0 ; python_version >= "3.11" and python_version < "4.0"
pyasn1==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
pyaudio==0.2.14 ; python_version >= "3.11" and python_version < "4.0"
pyautogui==0.9.54 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.20.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
pydub==0.25.1 ; python_version >= "3.11" and python_version < "4.0"
pygetwindow==0.0.9 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "4.0"
pymsgbox==1.0.9 ; python_version >= "3.11" and python_version < "4.0"
pyobjc-core==10.3.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-cocoa==10.3.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-quartz==10.3.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyperclip==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
pyrect==0.2.0 ; python_version >= "3.11" and python_version < "4.0"
pyscreeze==0.1.30 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
python-rapidjson==1.20 ; python_version >= "3.11" and python_version < "4.0"
python3-xlib==0.15 ; platform_system == "Linux" and python_version >= "3.11" and python_version < "4.0"
pytweening==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
redis==5.0.8 ; python_version >= "3.11" and python_version < "4.0"
regex==2024.7.24 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.11" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.11" and python_version < "4"
rubicon-objc==0.4.9 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
s3transfer==0.10.2 ; python_version >= "3.11" and python_version < "4.0"
schema==0.7.5 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.5 ; python_version >= "3.11" and python_version < "4.0"
sse-starlette==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
sseclient-py==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tavily-python==0.3.5 ; python_version >= "3.11" and python_version < "4.0"
tiktoken==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
together==0.2.11 ; python_version >= "3.11" and python_version < "4.0"
tokenizers==0.19.1 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.66.5 ; python_version >= "3.11" and python_version < "4.0"
tritonclient==2.46.0 ; python_version >= "3.11" and python_version < "4.0"
typer==0.9.4 ; python_version >= "3.11" and python_version < "4.0"
types-requests==2.32.0.20240712 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2024.1 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "4.0"
uuid==1.30 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.30.5 ; python_version >= "3.11" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
websockets==12.0 ; python_version >= "3.11" and python_version < "4.0"
werkzeug==3.0.3 ; python_version >= "3.11" and python_version < "4.0"
wikipedia==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
xmltodict==0.13.0 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.9.4 ; python_version >= "3.11" and python_version < "4.0"
