:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

[data-theme="dark"] body {
  --bg-1: hsl(0, 0%, 18%);
  --bg-2: hsl(0, 0%, 30%);
  --bg-3: hsl(0, 0%, 40%);
  --fg-1: hsl(0, 0%, 90%);
  --fg-2: hsl(0, 0%, 70%);
  --fg-3: hsl(0, 0%, 60%);
  --link: hsl(206, 96%, 72%);
  --link-hover: hsl(206, 96%, 78%);
  --link-active: hsl(206, 96%, 64%);
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.2);
}

body {
  --bg-1: hsl(0, 0%, 100%);
  --bg-2: hsl(206, 20%, 90%);
  --bg-3: hsl(206, 20%, 80%);
  --fg-1: hsl(0, 0%, 13%);
  --fg-2: hsl(0, 0%, 20%);
  --fg-2: hsl(0, 0%, 30%);
  --link: hsl(208, 77%, 47%);
  --link-hover: hsl(208, 77%, 55%);
  --link-active: hsl(208, 77%, 40%);
  --border-radius: 4px;
  --shadow-sm: 0 2px 6px var(--bg-3);
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
        'DejaVu Sans Mono', monospace;
  background: var(--bg-1);
  color: var(--fg-1);
  font-family: var(--font);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: calc(100vh - 2rem);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
  overflow-x: hidden;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fa-spinner {
  color: var(--bg-1);
}

button, .btn {
  background-color: transparent;
  border: none;
  color: var(--fg-2);
  padding: 0;
  cursor: pointer;

  &:hover, &:focus, &:focus-visible {
      border: none;
      outline: none;
      color: var(--fg-1);
  }
}

.shadow, .hover\:shadow:hover {
  box-shadow: var(--shadow-sm);
}

.disabled, button:disabled, input:disabled + .slider {
  opacity: 0.6;
  pointer-events: none;
}

[data-theme="dark"] body img.icon {
  filter: invert(100%);
}

[role="button"] {
  cursor: pointer;
}

code {
  white-space: break-spaces;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  text-align: start;
  background-color: var(--bg-2);
  padding: 7px;
  border-radius: 5px;
}

input, textarea, select {
  background-color: var(--bg-1);
  color: var(--fg-2);
  outline: none;
  border: none;
  font-size: 0.8rem;
  padding: 8px 10px;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px;
}

.toolbar {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  z-index: 10;
}

.toolbar .btn {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-1);
  box-shadow: var(--shadow-sm);
  color: var(--fg-2);
  
  &:hover {
      color: var(--fg-1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
